@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
html,
body {
    min-width: 1200px;
    min-height: 932px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.inner-container {
    width: 1060px;
    margin: 0 auto;
}

.main-header {
    position: relative;
    min-height: 60px;
}

.main-header .index-logo {
    position: absolute;
    left: 531px;
    z-index: 10;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li {
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 15px;
}

.main-navigation li:nth-child(2) {
    margin-right: 20%;
}

.main-navigation a {
    text-decoration: none;
    color: #333333;
}

.main-img {
    position: relative;
}

.index-headline .index-intro {
    width: 440px;
    padding-top: 50px;
    margin: auto;
    font-size: 21px;
    text-align: center;
}

.index-headline .index-headline-descripction {
    width: 500px;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: auto;
    font-weight: normal;
}

.index-feature .index-feature-text {
    float: left;
    background: #81B3D2;
    width: 300px;
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 71px;
    color: #ffffff;
    text-align: center;
}

.index-feature-text h2 {
    margin-left: 70px;
    width: 150px;
}

.index-feature-photo {
    float: right;
}

.clear {
    clear: both;
}

.feature-icons .feature-icons-item {
    float: left;
    width: 400px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 65px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.feature-icons .feature-icons-item:nth-child(3) {
    float: right;
    padding-top: 50px;
    padding-bottom: 65px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.index-feature-hotel .index-feature-photo {
    float: left;
    display: block;
    margin: 0;
    height: 256px;
}

.index-feature-hotel .index-feature-text {
    float: right;
    background: #81B3D2;
    width: 300px;
    height: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 71px;
    color: #ffffff;
    text-align: center;
}

.index-feature-content .feature-item-text {
    float: left;
    width: 400px;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    background: #ecf0f1;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
}

.index-feature-text p,
span {
    font-weight: normal;
}

.feature-item-text h2 {
    display: block;
    position: relative;
    width: 120px;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 21px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.feedback {
    text-align: center;
    position: relative;
}

.feedback-form {
    width: 510px;
    height: 345px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    position: absolute;
    left: 26%;
    margin-left: 2px;
}

.feedback h3 {
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.feedback .feedback-tip {
    margin: 0 auto;
    width: 440px;
    padding-bottom: 100px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.feedback a {
    padding-top: 60px;
    padding-left: 140px;
    padding-right: 140px;
    background-color: #766357;
    color: white;
    text-decoration: none;
    line-height: 10%;
    font-size: 21px;
    box-sizing: border-box;
}

* {
    box-sixing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.popup-form-control {
    margin-bottom: 35px;
}

.popup-form-control label {
    float: left;
    width: 130px;
    padding-top: 5px;
}

.popup-form-control input {
    float: left;
    width: 350px;
    background-color: #f2f2f2;
    border: none;
    color: #000000;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.popup-form-control-half {
    width: 50%;
    float: left;
    margin-bottom: 20px;
}

.popup-form-control-half label {
    float: left;
    width: 130px;
    padding-top: 5px;
    padding-bottom: 45px;
}

.popup-form-count {
    float: left;
}

.popup-form-count input {
    width: 40px;
    background-color: #f2f2f2;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popup-form-count input:focus {
    border-color: #ebebeb;
}

.popup-form-count button {
    border: none;
    background-color: #f2f2f2;
    width: 35px;
    height: 35px;
}

input.feedback-form-adults {
    width: 110px;
    padding-right: 5px;
    background-image: url(../img/minus-plus.png);
    background-repeat: no-repeat;
    background-position: center;
}

input.feedback-form-children {
    width: 110px;
    padding-right: 5px;
    background-image: url(../img/minus-plus.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.feedback .feedback-form-submit {
    background: #81B3D2;
    border: none;
    width: 460px;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.feedback-form-submit:hover {
    background-color: #669ec1;
}

.feedback-form-submit:active {
    background-color: #5596be;
    color: #96b4ce;
}

.map {
    margin: 0;
    height: 595px;
    background: #ffffff url(../img/map.jpg) no-repeat;
    background-position: left bottom;
}

.main-footer {
    width: 1200px;
    min-height: 120px;
    background-color: #ffffff;
    opacity: 0.9;
    list-style: none;
}

.main-footer .visit a {
    float: left;
    padding-left: 130px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 21px;
    text-decoration: none;
    color: #000000;
}

.main-footer .social-btn {
    float: left;
    width: 47px;
    height: 47px;
    margin-right: 10px;
    margin-top: 40px;
    background: #bdc3c7 url(../img/social-icons.jpg) no-repeat;
}

.main-footer .footer-social {
    float: left;
    margin-left: 260px;
}

.main-footer .social-btn-tweeter {
    background-position: 1px 0;
}

.main-footer .social-btn-fb {
    background-position: -52px 0;
}

.main-footer .social-btn-youtube {
    background-position: -105px 0;
}

.main-footer .footer-copyright {
    float: right;
    padding-right: 100px;
    padding-top: 40px;
}

.filter-form {}

.filter-form-infrastructure {
    float: left;
    font-weight: normal;
    padding-top: 10px;
}

.filter-form-infrastructure h2 {
    font-size: 18px;
}

.filter-form-infrastructure input {
    display: inline-block;
    margin-top: 18px;
    margin-right: 20px;
}

.filter-form-type {
    display: inline-block;
    margin-left: 110px;
    color: #ffffff;
    font-weight: normal;
    padding-top: 10px;
}

.filter-form-type h2 {
    font-size: 18px;
}

.filter-form-type input {
    display: inline-block;
    margin-top: 18px;
    margin-right: 20px;
}

.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    padding-top: 15px;
}

.filter-range h2 {
    font-size: 16px;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.filter-range-price {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filter-range-price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.filter-range-price label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.filter-range-price .min-price,
.filter-range-price .max-price {
    width: 90px;
    padding-left: 65px;
}

.filter-range-price input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.filter-form {
    background: #000000 url(../img/filter-background.jpg) no-repeat;
    padding: 0;
    height: 213px;
}

.filter-form-infrastructure h2 {
    color: #ffffff;
}

.filter-form-infrastructure {
    color: #ffffff;
    float: left;
    padding-left: 70px;
}

.filter-form-type {
    float: left;
}

.filter-range {
    float: right;
    padding-right: 70px;
}

.filter-list {
    padding-bottom: 30px;
}

.filter-list h3 {
    float: left;
    padding-right: 45px;
    padding-top: 10px;
    font-size: 21px;
}

.filter-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.filter-list a {
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
}

.filter-list span {
    font-size: 12px;
    padding-right: 20px;
}

.filter-list li {
    display: inline-block;
    padding-right: 17px;
    padding-left: 16px;
    padding-top: 32px;
    text-align: center;
}

.filter-rate {
    float: right;
}

.filter-rate li {
    padding-left: 6px;
    padding-right: 3px;
}

.hotel-list-item {
    background-color: #ffffff;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 10px;
}

.hotel-list-img {
    float: left;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hotel-list-info h2 {
    margin-bottom: 0;
}

.hotel-list-info h3 {
    margin-top: 0;
}

.hotel-item-stars {
    float: right;
}

.rate {
    float: right;
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: normal;
    margin-top: -5px;
}

.hotel-stars-amara {
    float: right;
    position: relative;
    bottom: 65px;
    right: -100px;
}

.hotel-stars-desert {
    float: right;
    position: relative;
    bottom: 65px;
    right: -100px;
}

.hotel-item-villas {
    float: right;
    position: relative;
    bottom: 65px;
    right: -100px;
}

.hotel-list-price {
    display: inline-block;
    font-weight: normal;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 14px;
}

.hotel-list-buttons-more a {
    float: left;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #81b3d2;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
}

.hotel-list-buttons a {
    float: left;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #766357;
    padding-left: 15px;
    padding-right: 15px;
}