@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
html,
body {
    min-width: 1200px;
    min-height: 3000px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'PT Sans', Arial, sans-serif;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-header {
    position: relative;
    min-height: 60px;
}

.main-header .index-logo {
    position: absolute;
    left: 50%
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 100px;
    width: 105px;
    list-style: none;
}

.main-navigation li:nth-child(4) {
    margin-right: -55px;
}

.main-navigation li:nth-child(3) {
    margin-left: 160px;
}

.main-navigation a {
    text-decoration: none;
    color: #333333;
}

.main-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .main-img {
    background-image: url(../img/background.jpg);
    height: 591px;
}

.index-headline .index-intro {
    background: #ecf0f1;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    font-size: 21px;
    text-align: center;
}

.index-headline .index-headline-descripction {
    background: #ecf0f1;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-weight: normal;
}

.index-feature .index-feature-text {
    float: left;
    background: #81B3D2;
    width: 300px;
    height: 150px;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 46px;
}

.index-feature-photo {
    margin-top: 40px;
    float: right;
}

.clear {
    clear: both;
}

.feature-icons .feature-icons-item {
    float: left;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: 125px;
    margin-left: 163px;
    width: 170px;
    margin-right: 75px;
}

.feature-icons .feature-icons-item:nth-child(3) {
    float: right;
    margin-left: 0;
}

.index-feature-hotel .index-feature-photo {
    float: left;
}

.index-feature-hotel .index-feature-text {
    float: right;
    background: #81B3D2;
    width: 300px;
    height: 150px;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 46px;
}

.index-feature-content {
    background: #ecf0f1;
    width: 1200px;
    height: 255px;
    position: relative;
    top: -20px;
}

.index-feature-content .feature-item-text {
    float: left;
    width: 264px;
    margin-right: 80px;
    margin-left: 55px;
    margin-top: 30px;
    background: #ecf0f1;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
}

.feature-item-text h2 {
    line-height: 21px;
    font-size: 21px;
    width: 116px;
    font-weight: bold;
    text-align: center;
    margin-right: 60px;
    margin-left: 75px;
}

.index-feature-content .feature-item-text:nth-child(3) {
    float: right;
    margin-left: 0;
}

.feedback {
    float: left;
    width: 1200px;
}

.feedback h3 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.feedback .feedback-tip {
    width: 440px;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-left: 370px;
}

.feedback .feedback-form a {
    float: left;
    position: relative;
    z-index: 5;
    width: 567px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 100px;
    margin-left: 320px;
    margin-top: 15px;
    background: #766357;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 21px;
}

.feedback-form .feedback-form-control {
    float: left;
    position: relative;
    z-index: 4;
    height: 40px;
    width: 512px;
    padding-top: 30px;
    padding-left: 55px;
    margin-right: 320px;
    margin-left: 320px;
    background: #F2F1EF;
    color: #00000;
    text-decoration: none;
}

.feedback-form .feedback-form-control:nth-child(2) {
    padding-top: 50px;
}

.feedback-form .feedback-form-control:nth-child(4) {
    padding-bottom: 150px;
}

.feedback-form .feedback-form-control:nth-child(5) {
    float: right;
    position: relative;
    z-index: 7;
    left: -320px;
    top: -190px;
    margin: 0;
    padding: 0;
    width: 235px;
}

.feedback-form .feedback-form-buttons {
    float: left;
    position: relative;
    z-index: 6;
    background: #81B3D2;
    margin-top: -160px;
    margin-right: 375px;
    margin-left: 375px;
    height: 60px;
    width: 460px;
    color: white;
}

.map {
    position: relative;
    z-index: 1;
    top: 250px;
    width: 1200px;
    height: 595px;
    background: url(../img/map.jpg) no-repeat;
    background-position: left bottom;
}

.main-footer {
    float: left;
    position: relative;
    z-index: 7;
    min-height: 55px;
    width: 1200px;
    margin-top: 52px;
    background-color: #ffffff;
    opacity: 0.9;
    list-style: none;
}

.main-footer .visit a {
    float: left;
    margin-top: 40px;
    margin-left: 135px;
    font-size: 21px;
    text-decoration: none;
    color: #000000;
}

.main-footer .social-btn {
    float: left;
    width: 47px;
    height: 47px;
    margin-right: 10px;
    margin-top: 40px;
    background: #bdc3c7 url(../img/social-icons.jpg) no-repeat;
}

.main-footer .footer-social {
    float: left;
    margin-left: 260px;
}

.main-footer .social-btn-tweeter {
    background-position: 1px 0;
}

.main-footer .social-btn-fb {
    background-position: -52px 0;
}

.main-footer .social-btn-youtube {
    background-position: -105px 0;
}

.main-footer .footer-copyright {
    float: right;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}